# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log
*.sqlite3
*.db
*.egg-info/

# Virtual environments
.venv/
env/
venv/
ENV/

# System files (macOS)
.DS_Store
.AppleDouble
.LSOverride

# IDE and editor folders
.vscode/
.idea/
*.swp

# Playwright / Selenium temp files
*.png
*.webm
*.mp4
selenium-screenshot.png

# Output data
data/products.json
